.DS_Store
.vscode
builtins.md
README.md
bultins.md
funciones-autorizadas.md
functionallity.md
main-echo.md
main.md
outcomes-echo.md
testing_cd.md
minishell.es.subject.pdf
testing-proyecto.md
fill_struct-ultimo.md
fill_struct.md
fill_struct2.md
executor-locura.md 
executor-old.md
executor-refactorizado.md
a
infile
infile.txt
